<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- will need to import a file here. maybe. im not sure yet. -->
</head>
<body>
    <!-- this is where the html will go for listing the burger. will most likly use a <ul> tag and maybe a few other things. -->
    <!-- will need to make use of some of the methods on handlebars. such as #each and maybe #if -->
</body>
</html>